<section class="card">

    <a href="/vehicle/{{this.id}}">
        <img class="card-img" src="{{this.imagePath}}" alt="{{this.description}}">
        <p>{{this.year}} {{this.make}} {{this.model}}</p>
            <h4>${{this.price}}</h4>
        <p style=>{{this.condition}}</p>
        <p>{{> beatermeter}}</p>

    </a>
</section>