<section class="card">
    <a href="/vehicle/{{id}}">
        <img class="card-img" src="{{images.[0].imagePath}}" alt="{{images.[0].description}}">
        <p>{{year}} {{model}}, {{price}}</p>
        <p>{{condition}},  {{mileage}} miles</p>
    </a>
</section>