<div id="vehicle-carousel-{{ vehicle.id }}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each this}}
    <li data-target="#vehicle-carousel-{{ vehicle.id }}" data-slide-to="{{ @index }}" class {{#unless @index}}active{{/unless}}></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each this}}
    <div class="carousel-item {{#unless @index}}active{{/unless}}">
      <img src="{{ this.imagePath }}" class="d-block w-100" alt="Vehicle Image">
      <div class="carousel-caption">
        <p>{{ this.description }}</p>
      </div>
    </div>
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#vehicle-carousel-{{ vehicle.id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#vehicle-carousel-{{ vehicle.id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
